// rwd: break point
@mixin screenMD {
    @media screen and (max-width: $breakpoint-md){
        @content;
    }
}
@mixin screenSM {
    @media screen and (max-width: $breakpoint-sm){
        @content;
    }
}

/*
    text stroke

    @param color: storke color (default: $secondary)
    @param width: stroke width (default: 3px)
*/
@mixin textStroke($color: $secondary, $width: 3px) {
    z-index: 0;
    &::before {
        content: attr(data-storke);
        position: absolute;
        z-index: -1;
        -webkit-text-stroke: $width $color;
        text-stroke: $width $color;
    }
}
