html, body {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
    color: $black;
}
* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: $secondary;
    &:hover {
        color: $white;
    }
}
input, button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    &:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }
}
img {
    display: block;
}
