/*
    variables.scss
*/

// color
$primary: #B82A06;
$secondary: #3C0C00;
$tertiary: #FFB3A4;

$light-gray: #DCDCDC;
$black: #000000;
$white: #FFFFFF;

// break point
$breakpoint-lg: 1920px;
$breakpoint-md: 1440px;
$breakpoint-sm: 768px;